* {
  box-sizing: border-box;
}

:root {
  --primary-color : #FF0101;
  --primary-color-light : #FF0000;
  --primary-color-dark : #E60000;

  --background-color : #FFFFFF;
  --background-color-light : #FBFBFB;
  --background-color-light-2 : rgba(196, 196, 196, 0.5);
  --background-color-dark : #020203;
  --background-color-dark-2 : #282D30;

  --text-color-light-1 : #FFFFFF;
  --text-color-light-2 : #74798C;
  --text-color-dark-1 : #20253A;
  --text-color-dark-2 : #282D30;

  --font-size-8 : 0.5rem;
  --font-size-12 : 0.75rem;
  --font-size-14 : 0.875rem;
  --font-size-15 : 0.9375rem;
  --font-size-16 : 1rem;
  --font-size-18 : 1.125rem;
  --font-size-20 : 1.25rem;
  --font-size-24 : 1.5rem;
  --font-size-26 : 1.625rem;
  --font-size-32 : 2.75rem;
  --font-size-48 : 3rem;

  --font-family : "roboto", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}